body {
  padding: 0px;
}

.main-name {
  margin-bottom: -2px;
  margin-top: 10px;
}

.the-other-link {
  font-size: small;
}

.column {
  float: left;
  width: 33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.pair-editor {
  width: calc(100% - 12px);
  height: 200px;
  margin: 3px;
  padding: 3px;
  display: inline-block;
}

.source-pair-editor {
  border: 2px solid #085608;
  background-color: #9fff90;
}

.target-pair-editor {
  border: 2px solid #861d00;
  background-color: #ff8153;
}

.rule-editor {
  width: calc(100% - 12px);
  height: 900px;
  margin: 3px;
  padding: 3px;
  display: inline-block;
  border: 2px solid gray;
  background-color: khaki;
}

.full-width-div {
  width: calc(100% - 10px);
}

.height-100p-fixed {
  height: 100%;
  position: fixed;
  padding: 5px;
  left: 0px;
  top: 0px;
}

.height-headline {
  margin-bottom: -1px;
  padding-left: 4px;
}

.headline-elem {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 3px;
}

.my-btn {
  font-size: medium;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 28px;
}

.control-group {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 9px;
  margin: 1px 4px;
  border: 2px solid #cbcbcb;
  border-radius: 4px;
}

/* --------------------------------------- */

.mymonaco-hover {
  background-color: lightblue;
}

.mymonaco-selected {
  background-color: lightblue;
}

.mymonaco-expanmatch {
  background-color: #fff582;
}

.mymonaco-expanslotmatch1 {
  background-color: greenyellow;
}

.mymonaco-expanslotmatch2 {
  background-color: lightgreen;
}

.mymonaco-locate {
  background-color: #fff4d0;
}
