apted==1.0.3
certifi==2021.10.8
cffi==1.14.6
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
EditorConfig==0.12.3
Flask==2.0.2
Flask-Cors==3.0.10
greenlet==1.1.2
hpy==0.0.3
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
jsbeautifier==1.14.0
MarkupSafe==2.0.1
numpy==1.22.0
pyparsing==3.0.6
python-Levenshtein==0.12.2
pytz==2021.3
readline==6.2.4.1
requests==2.27.1
six==1.16.0
tree-sitter==0.20.1
urllib3==1.26.8
Werkzeug==2.0.2
cython==0.29.32
pipdeptree==2.3.1
remote-pdb==2.1.0
debugpy==1.6.7
